<ul class="list-group categories-list">
  <li class="list-group-item" ng-click="vm.onCategoryClick('All')">
    <div class="row">
      <div class="progress-detail">
        <i class="category-icon glyphicon glyphicon-road pull-left"></i>
        <span class="category-title">All</span>
      </div>
    </div>
  </li>
  <li ng-repeat="category in vm.caterories track by $index" class="list-group-item" ng-click="vm.onCategoryClick(category.name)">
    <div class="row">
      <div class="progress-detail">
        <i class="category-icon glyphicon {{category.icon}} pull-left"></i>
        <span class="category-title">{{category.name}}</span>
      </div>
    </div>
  </li>
</ul>