<ul class="list-group">
  <li ng-repeat="item in vm.tasks track by $index" class="list-group-item">
    <div class="row" ng-click="isOpen = !isOpen">
      <div class="progress-detail">
        <i class="category-icon glyphicon glyphicon-tasks pull-left"></i>
        <span class="category-title">{{item.name}}</span>
        <span class="category">{{item.category}}</span>
      </div>
      <div class="progress">
        <div class="progress-bar" ng-style="{'background-image': vm.gredient, 'width': (item.progress / item.goal) * 100 + '%'}"></div>
      </div>
      <div class="progress-value">{{item.progress}}/{{item.goal}}</div>
    </div>
    <div class="row hidden-area" ng-init="isOpen = false" ng-show="isOpen">
      <button type="button" class="btn btn-warning pull-left" ng-click="vm.onEditClick(item.name)">Edit</button>
      <button type="button" class="btn btn-danger pull-left" ng-click="vm.onDeleteClick(item.name)">Delete</button>
      <div class="input-group pull-right col-xs-2 text-right">
        <button type="button" class="btn btn-default btn-number" ng-click="vm.onMinusClick(item.name)" data-type="minus" data-field="quant[1]">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
        <button type="button" class="btn btn-default btn-number" ng-click="vm.onPlusClick(item.name)" data-type="plus" data-field="quant[1]">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </li>
</ul>