<h1>Statistics</h1>
<br/>
<div class="container">
    <div class="btn-group col-centered" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-class="vm.active === 'month' ? 'active': ''" ng-click="vm.monthStatistics()">Month</button>
        <button type="button" class="btn btn-default" ng-class="vm.active === 'year' ? 'active': ''" ng-click="vm.yearStatistics()">Year</button>
        <button type="button" class="btn btn-default" ng-class="vm.active === 'all' ? 'active': ''" ng-click="vm.allStatistics()">All</button>
    </div>
</div>
<div width="300" height="300">
    <canvas 
        id="bar" 
        class="chart chart-bar" 
        chart-data="vm.data" 
        chart-labels="vm.labels">
    </canvas> 
</div>