<h1>Settings</h1>

<div class="panel panel-default">
  <div class="panel-heading">Manage categories</div>
  <div class="panel-body">
    <ul class="list-group settings">
        <li class="list-group-item" ng-repeat="category in vm.caterories track by $index">
          <span>{{category.name}}</span>
          <button type="button" ng-click="vm.onRemoveClick(category.name)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </li>
    </ul>

    <form name="addTaskForm" ng-submit="addTaskForm.$valid && vm.onSubmit()" novalidate>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Category name..." ng-model="vm.category.name" required>
        <div class="input-group-btn">
          <button type="submit" id="submit" name="submit" class="btn btn-success" ng-class="addTaskForm.$valid ? '' : 'disabled'">Add Category</button>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer"><b>{{vm.caterories.length}}</b> categories</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Themes</div>
  <div class="panel-body">
    <ul class="list-group settings">
        <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
        <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
        <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
        <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
    </ul>
  </div>
</div>

